@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap");


.container {
  @apply w-[330px] xs:w-[85vw] md:w-[87vw] xl:w-[1112px] m-auto;
}

.card {
  @apply bg-white w-[295px] md:w-[250px] lg:w-[270px] md:mt-[60px] mt-[80px] h-[230px] relative m-auto rounded-md px-1 pt-[80px];
}

.card_title {
  @apply text-DViolet_600 text-xl font-bold pb-2;
}

.card_text {
  @apply text-Gray_60 text-[14px] leading-[20px] w-[260px] md:w-[220px] md:text-left lg:w-[240px] m-auto;
}

.card_absolute_img {
  @apply bg-DViolet_600 w-[80px] h-[80px] absolute -top-7 -translate-x-2/4 left-2/4 rounded-full flex justify-center items-center;
}

.flex_center {
  @apply flex justify-center items-center flex-col;
}

.flex_btw {
  @apply flex justify-between items-center;
}

.button {
  @apply font-semibold rounded-3xl p-2 bg-Primary hover:bg-Primary_10;
}

.footer_h3 {
  @apply text-white font-bold text-[16px] pb-[15px];
}

.footer_ul {
  @apply flex_center flex-col sm:items-start pb-6 gap-[6px] cursor-pointer;
}

.footer_ul_li {
  @apply text-Gray_40 text-[15px] font-semibold hover:text-Primary;
}

